.TicketContainer {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    border: 0.6px solid black;
    margin: 4px 0px;
}

.TicketId {
    display: flex;
    flex: 1;
    align-self: center;
}

.Numbers {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.Numbers h3 {
    flex: 1;
    font-weight: bold;
}